:local(.nav) {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -1px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
  a {
    text-decoration: none;
    color: inherit;
    &:focus {
      color: black;
    }
  }
}

:local(.nav__right) {
  a {
    margin: 0 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
