:local(.nav) {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  font-size: 16px;
  color: black;
  a {
    text-decoration: none;
    color: inherit;
    &:focus {
      color: black;
    }
  }
}

:local(.nav__right) {
  a {
    margin: 0 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
